<div class="feed-container">
    <!-- Botón para crear post -->
    <div class="create-post">
      <button (click)="crearPost()" class="btn-create-post">Crear Publicación</button>
    </div>
  
    <!-- Publicación 1 -->
    <div  *ngFor="let p of userData" class="post">
      <div class="post-header">
        <div class="user-info">
          <img src="{{p.fotoUrl}}"  class="user-avatar">
          <div>
            <p class="user-name">{{p.nombre}}</p>
            <p class="post-time">Hace 2 horas</p>
          </div>
        </div>
      </div>
      <div class="post-content">
        <p>{{p.text}}</p>
        <img src="{{p.imageUrl}}" class="post-image">
      </div>
      <div class="post-actions">
        <button>Me gusta</button>
        <button>Comentar</button>
        <button>Compartir</button>
      </div>
    </div>
  
    
  </div>
  