<body >


<div class="container">
    <!-- Login Form -->
    <form (ngSubmit)="onLogin()" *ngIf="isLoginState()" #loginForm="ngForm">
      <h2>Iniciar Sesión</h2>
      <label for="loginEmail">Correo</label>
      <input type="email" id="loginEmail" [(ngModel)]="loginData.email" name="loginEmail" placeholder="Ingresa tu correo" required>
      
      <label for="loginPassword">Contraseña</label>
      <input type="password" id="loginPassword" [(ngModel)]="loginData.password" name="loginPassword" placeholder="Ingresa tu contraseña" required>
      
      <button type="submit">Iniciar Sesión</button>
      <p (click)=" ForgotPassClick() " class="link" >¿Olvidaste tu contraseña?</p>
      <p (click)=" CreateAccountClick()" class="link" >¿No tienes cuenta? Regístrate</p>
    </form>
  
    <!-- Register Form -->
    <form   *ngIf="isRegisterState() " (ngSubmit)="onRegister()" #registerForm="ngForm">
      <h2>Registro</h2>
      <label for="firstName">Nombre</label>
      <input type="text" id="firstName" [(ngModel)]="registerData.firstName" name="firstName" placeholder="Ingresa tu nombre" required>
      
      <label for="lastName">Apellido</label>
      <input type="text" id="lastName" [(ngModel)]="registerData.lastName" name="lastName" placeholder="Ingresa tu apellido" required>
      
      <label for="career">Carrera Universitaria</label>
      <select id="career" [(ngModel)]="registerData.career" name="career" required>
        <option value="" disabled selected>Selecciona tu carrera</option>
        <option value="ingenieria_sistemas">Ingeniería de Sistemas</option>
        <option value="ingenieria_agroindustrial">Ingeniería Agroindustrial</option>
        <option value="ingenieria_ambiental">Ingeniería Ambiental</option>
        <option value="administracion_empresas">Administración de Empresas</option>
        <option value="contabilidad">Contabilidad</option>
        <option value="educacion_primaria_intercultural">Educación Primaria Intercultural</option>
      </select>
      
      <label for="registerEmail">Correo</label>
      <input type="email" id="registerEmail" [(ngModel)]="registerData.email" name="registerEmail" placeholder="Ingresa tu correo" required>
      
      <label for="registerPassword">Contraseña</label>
      <input type="password" id="registerPassword" [(ngModel)]="registerData.password" name="registerPassword" placeholder="Crea una contraseña" required>
      
      <label for="confirmPassword">Confirmar Contraseña</label>
      <input type="password" id="confirmPassword" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" placeholder="Confirma tu contraseña" required>
      
      <button type="submit">Registrarse</button>
      <p class="link" (click)=" LoginClick() " >¿Ya tienes cuenta? Inicia Sesión</p>
    </form>
  
    <!-- Reset Password Form -->
    <form *ngIf="isForgotPasswordState()" (ngSubmit)="onResetPassword()" #resetForm="ngForm">
      <h2>Restablecer Contraseña</h2>
      <label for="resetEmail">Correo</label>
      <input type="email" id="resetEmail" [(ngModel)]="resetData.email" name="resetEmail" placeholder="Ingresa tu correo" required>
      
      <button type="submit">Restablecer Contraseña</button>
      <p class="link" (click)=" LoginClick() ">Volver al inicio de sesión</p>
    </form>
  </div>

</body>
  